.container {
  display: grid;
  // grid row / column
  grid: 100px 100px / 100px auto 100px 100px;
  // grid-template-columns: 100px auto 100px 100px;
  // grid-template-rows: 100px 100px;
  grid-gap: 10px 10px;
  // grid-auto-flow: dense;
  > div {
    background: #373142;
    color: #FFF;
    text-align: center;
    line-height: 100px;
  }
}