.container {
  display: grid;
  grid: 100px / repeat(2, 1fr 3fr);
  grid-gap: 10px;
  > div {
    background: #373142;
    color: #FFF;
    text-align: center;
    line-height: 100px;
    &:nth-child(1){
      grid-column: 3 / -1;
      // grid-column-start: 1;
      // grid-column-end: 4;
      // grid-column-end: -1; fullwidth
    }
    &:nth-child(2){
      grid-column: 1 / 3;
      grid-row: 1 / span 4;
      z-index: 5;
    }
    &:nth-child(3){
      grid-column: 4 / -1;
      grid-row: 4 / 4;
    }
  }
}