.container {
  display: -ms-grid;
  display: grid;
  grid: 100px/repeat(2, 1fr 3fr);
  grid-gap: 10px;
}

.container > div {
  background: #373142;
  color: #FFF;
  text-align: center;
  line-height: 100px;
}

.container > div:nth-child(1) {
  grid-column: 3 / -1;
}

.container > div:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / span 4;
  z-index: 5;
}

.container > div:nth-child(3) {
  grid-column: 4 / -1;
  -ms-grid-row: 4;
  grid-row: 4 / 4;
}
/*# sourceMappingURL=style.css.map */