.container {
  display: grid;
  // grid: 100px 100px / repeat(3, auto) 50px;
  // grid: 100px 100px / repeat(3, auto 100px);
  grid: 100px 100px / repeat(2, 1fr 3fr);
  grid-gap: 10px;
  > div {
    background: #373142;
    color: #FFF;
    text-align: center;
    line-height: 100px;
  }
}