.container {
  display: -ms-grid;
  display: grid;
  grid: 100px 100px/repeat(2, 1fr 3fr);
  grid-gap: 10px;
}

.container > div {
  background: #373142;
  color: #FFF;
  text-align: center;
  line-height: 100px;
}
/*# sourceMappingURL=style.css.map */