html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #ddd;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  padding: 0 5%;
  background: blue;
  color: white;
  width: 100vw;
}

.main-nav {
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      padding: 10px;
      display: inline-block;
    }
  }
}

main {
  border: 3px dashed;
  margin: 4rem 0;	
}

.side-nav {
  border: 3px dashed;
}

.news-feed {
  border: 3px dashed;
}

.services {
  border: 3px dashed; 
}

.post {
  background: white;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
}

.post__header {
}

.post__info {
  a, span {
    display: block;
  }
}

.avatar {
  border-radius: 50%;
}

.post__content {
  img {
    width: 100%;
  }
}

.comment {
  background: #eee; 
  border-top: solid 1px #ccc;
  input {
    width: 100%;
    margin-left: 10px;
    border-radius: 20px;
    border: solid 1px #ccc;
    padding: 10px 20px;
  }
}