html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #ddd;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  padding: 0 5%;
  background: blue;
  color: white;
  width: 100vw;
}

.main-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  padding: 10px;
  display: inline-block;
}

main {
  border: 3px dashed;
  margin: 4rem 0;
}

.side-nav {
  border: 3px dashed;
}

.news-feed {
  border: 3px dashed;
}

.services {
  border: 3px dashed;
}

.post {
  background: white;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
}

.post__info a, .post__info span {
  display: block;
}

.avatar {
  border-radius: 50%;
}

.post__content img {
  width: 100%;
}

.comment {
  background: #eee;
  border-top: solid 1px #ccc;
}

.comment input {
  width: 100%;
  margin-left: 10px;
  border-radius: 20px;
  border: solid 1px #ccc;
  padding: 10px 20px;
}
/*# sourceMappingURL=style.css.map */