html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #ddd;
}

:root {
  --header: 40px;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header);
  padding: 0 5%;
  background: #2374E1;
  color: white;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      padding: 10px;
      display: inline-block;
    }
  }
}

main {
  margin: var(--header) 0 0;
  display: grid;
  justify-content: center;
  grid-template-columns: 180px 500px 308px;
  grid-column-gap: 12px;
  grid-template-areas: "nav feed services";
  height: calc(100vh - var(--header));
}

@media (min-width: 1200px) {
  main {
    padding-right: 200px;
  } 
}


.side-nav {
  border: 3px dashed;
  grid-area: nav;
}

.news-feed {
  grid-area: feed;
  height: calc(100vh - var(--header));
  overflow-y: scroll;
}

.services {
  border: 3px dashed; 
  grid-area: services;
}

.post {
  background: white;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  margin: 1rem 0;
}

.post__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.post__header .left {
  display: flex;
  align-items: center;
}

.post__header .right{
  svg{
    width: 1.2rem;
    height: 1.2rem;
    font-weight: 800;
    color: #B0B3B8;
  }
}

.post__info {
  margin-left: 10px;
  a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    color: #232323;
  }
  span{
    color: #B0B3B8;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  span svg{
    margin-left: 5px;
    width: 0.9rem;
    height: 0.9rem;
  }
}

.avatar {
  border-radius: 50%;
}

.post__content {
  img {
    width: 100%;
    border-radius: 0.75rem;
  }
}

.post__engage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 2rem;

  a{
    text-decoration: none;
    color: #232323;
  }
}

.comment {
  margin: 0 -10px -10px;
  padding: 10px;
  display: flex;
  background: #eee; 
  border-top: solid 1px #ccc;
  input {
    width: 100%;
    margin-left: 10px;
    border-radius: 20px;
    border: solid 1px #ccc;
    padding: 10px 20px;
  }
}