html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #ddd;
}

:root {
  --header: 40px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header);
  padding: 0 5%;
  background: #2374E1;
  color: white;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  padding: 10px;
  display: inline-block;
}

main {
  margin: var(--header) 0 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 180px 500px 308px;
      grid-template-columns: 180px 500px 308px;
  grid-column-gap: 12px;
      grid-template-areas: "nav feed services";
  height: calc(100vh - var(--header));
}

@media (min-width: 1200px) {
  main {
    padding-right: 200px;
  }
}

.side-nav {
  border: 3px dashed;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
}

.news-feed {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: feed;
  height: calc(100vh - var(--header));
  overflow-y: scroll;
}

.services {
  border: 3px dashed;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: services;
}

.post {
  background: white;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  margin: 1rem 0;
}

.post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.post__header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__header .right svg {
  width: 1.2rem;
  height: 1.2rem;
  font-weight: 800;
  color: #B0B3B8;
}

.post__info {
  margin-left: 10px;
}

.post__info a {
  display: block;
  text-decoration: none;
  font-weight: 600;
  color: #232323;
}

.post__info span {
  color: #B0B3B8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.post__info span svg {
  margin-left: 5px;
  width: 0.9rem;
  height: 0.9rem;
}

.avatar {
  border-radius: 50%;
}

.post__content img {
  width: 100%;
  border-radius: 0.75rem;
}

.post__engage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.6rem 2rem;
}

.post__engage a {
  text-decoration: none;
  color: #232323;
}

.comment {
  margin: 0 -10px -10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eee;
  border-top: solid 1px #ccc;
}

.comment input {
  width: 100%;
  margin-left: 10px;
  border-radius: 20px;
  border: solid 1px #ccc;
  padding: 10px 20px;
}
/*# sourceMappingURL=style.css.map */